@import url(./fonts.css);
/* ============ RESET ============ */
*, *:hover, *:active {
    text-transform: none;
    text-decoration: none;
    outline: none;
}
input { 
    box-shadow: none;
    border: none;
    outline: none;
}
/* =============================== */
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 90px;
    position: absolute;
    /* привзанность не к экрану а к родительскому документу */
    left: 0;
    /* к позишину */
    top: 0;
    /* к позишины */
    z-index: 300;
    display: flex;
    justify-content: center;
    /* position: fixed;
    привязанность к чему-то */
    /* position: relative;
    позволяет вложенным элементам быть апсолют */
}
section {
    width: 100%;
    min-height: 500px;
    background-color: #242b33;
}
footer {
    width: 100%;
    height: 100px;
    background-color: rgb(33, 20, 148);
}
.headerContainer {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.logotype {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
    justify-content: center;
}
.logotype span {
    font-family: Raleway;
    font-size: 12px;
    color: #fff;
}
.navigation {
    display: flex;
    gap: 40px;
    min-height: 100%;
    align-items: center;
}
.navigation span {
    font-family: Raleway;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}
.navigation span:hover {
    opacity: 0.7;
}
#mainSection {
    background-image: url(../images/MainBg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}
#mainSection > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    min-height: 100vh;
}
h1 {
    font-family: 'PlayfairDisplay';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #D4C17F;
    text-align: center;
    margin-bottom: 100px;
}
#contacts {
    display: flex;
    justify-content: center;
    gap: 100px;
}
#contacts a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    min-width: 221px;
}
#mainSectionBg {
    margin-bottom: 200px;
    cursor: pointer;
    transition: 0.3s;
}
#mainSectionBg:hover {
    transform: translateY(15);
}
.addition {
    display: flex;
    flex-direction: row;
    gap: 70px;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* выравнивание по середине */
    align-items: center;
    min-height: 100%;
}
.addition span {
    font-family: Roboto;
    font-size: 20px;
    color: #fff;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    /* align-items: center; */
    /* flex-direction: row;
    flex-fl */
     /* display: flex; */
    /* justify-content: center; */
   
    /* flex-flow: row nowrap; */
    /* height: 100%; */
    /* margin-bottom: 100px; */
} 
.addition > div{
    display: flex;
    flex-direction: column;
    gap: 53px;
    align-items: center;
}
#contactUs {
    width: 1000px;
    display: flex;
    gap: 35px;
    align-items: flex-end;
    margin: 0 auto;
}
#contactDescription{
    display: flex;
    flex-direction: column;
    gap: 50px;

}
#contactDescription span:first-child {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}
#contactDescription span:last-child {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px 30px;
}
form span {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #E7E7E7;

}
input {
    width: 255px;
    height: 50px;
    /* background: #FFFFFF;
    opacity: 0.2; */
    background: rgba(255, 255, 255, 0.2);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
}
input::placeholder {
    color: #BEBEBE;
}
button{
    width: 255px;
    height: 50px;
    /* background: #FFFFFF;
    opacity: 0.2; */
    /* background: rgba(255, 255, 255, 0.2); */
    background: #D4C17F;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    cursor: pointer;
    /* transition: 0.3s; */
}
#contactWraper {
    background-image: url(../images/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 180px;
}
.ourApartments{
    display: flex;
    gap: 30px;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    /* выравнивание по середине */
    /* min-height: 100%; */
    flex-direction: column;
    /* выравнивание в колонку */
    /* width: calc(100%-60px); */
}
.ourApartments span{
    font-family: 'Playfair Display';
    color: #D4C17F;
    font-style: normal;
    /* текс без изменений */
    font-weight: 700;
    /* толщина */
    font-size: 36px;
    /* размер */
    line-height: 48px;
    /* высота строки */
    margin-bottom: 70px;
    /* внешний отступ (со всех сторон одинаковое, если 1 значение) */
    /* padding: 0 0 0 0;(ПО ЧАСАМ (верх право низ лево))
    внешний отступ (со всех сторон одинаковое если 1 значение), */
    display: block;
    width: 100%;
}   
.ourApartments > div {
    display: flex;
    /* flex colum */
    gap: 30px;
    /* по гор по вер */
    justify-content: center;
    /* выр по осн  горизонталоси вертикальоси */
    align-items: center;
    /* выр по доп  вертикальоси  горизонталоси*/
    
}
#firstCard {
    background-image: url(../images/Rectangle1.png);
}
#secondCard {
    background-image: url(../images/Rectangle2.png);
}
#thirdCard {
    background-image: url(../images/Rectangle1.png);
}
#forthCard {
    background-image: url(../images/Rectangle2.png);
}
#firstCard,
#secondCard,
#thirdCard,
#forthCard {
    width: 100%;
    height: 220px;
    color: #FFFFFF;
    display: flex;
    align-items: end;
    padding: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
/* div {
    width: 500px;
    height: 500px;
    background-image: url(http://avatars.mds.yandex.net/i?id=524a011f644d59bd8eead682b60edb43_l-4445663-images-thumbs&n=13);
    cursor: pointer;   */
    /*курсор*/
    /* transition: 0.3s background-color; */
    /* скорость изменения */
    /* border-radius: 50%;  */
    /* радиус угла */
    /* background-size: cover;
    transition: 0.3s ; */
    /* прозрачность */
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
div:hover {
    background-image:none; */
    /* opacity: 0.7 ; */
    /* background-color: #555;
   
}
span {
    display: none;
}
div:hover>span {
    display: block;
} */
/* display: flex;
    flex-direction: row;
    gap: 70px;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* выравнивание по середине */
    /* align-items: center; */
    
/* } */

/* .addition > div{
    display: flex;
    flex-direction: column;
    gap: 53px;
    align-items: center; */ 

@media (max-width: 820px){
    #mainSection{
        background-image: none;
        background-color: red;
    }
}